.elementor-widget-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.get-in-touch h1, .get-in-touch h2 {
    margin: 0 auto !important;
}

hr {
    width: 100%;
}

.navbar-expand-sm .navbar-nav a {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-expand-sm .navbar-nav a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.navbar-light .navbar-nav .current-menu-item>a {
    color: #fff;
    font-weight: 600;
}

.margin-center {
    margin: 0 auto !important;
}

.sub-footer {
    padding-top: 70px;
}

.card-image h3 {
    font-size: 20px;
    font-family: avalonbold;
    color: #303a81;
    margin-bottom: 0;
}

.properties p {
    margin-bottom: 0 !important;
}

.w-100 {
    content: " ";
    width: 100% !important;
}

.phones .card-phone h5 {
    color: #4853a3 !important;
    font-size: 28px !important;
    font-family: avalonbold;
}

.phones h6 {
    color: #3e4152;
    font-size: 18px;
    font-family: avalonbold;
}

.phones p {
    line-height: 1.8;
    color: #929292;
    font-size: 14px;
}

.position-bottom {
    position: absolute !important;
    bottom: 0;
    left: 0;
}

.form-w100 * {
    width: 100%;
}

.form-w100 .row {
    margin-right: 0;
    margin-left: 0;
}

.form-w100 input[type="submit"], .form-w100 input[type="radio"], .radio-control span {
    width: auto;
}

form .btn-group-toggle input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

form .btn-group-toggle label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

form .btn-group-toggle label:after {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #efefef;
    border-radius: 15px;
}

form .btn-group-toggle label.active:after {
    background-color: #3e4152;
}

